.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	@media (min-width: $mobile) {
		padding-top: toRem(36);
	}
	@media (max-width: $mobile) {
		padding-top: toRem(16);
	}
	// &::before {
	// 	content: "";
	// 	pointer-events: none;
	// 	position: absolute;
	// 	left: 0;
	// 	top: 0;
	// 	width: 100%;
	// 	height: toRem(231);
	// 	background: url("../img/header-artefacts.webp") top center / contain no-repeat;
	// }
}

.header-bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	// height: toRem(2738);
	height: auto;
	z-index: -1;
	@media (min-width: $mobile) {
		aspect-ratio: 1920 / 2738;
	}
	@media (max-width: $mobile) {
		aspect-ratio: 360 / 2562;
	}
	& img {
		position: absolute;
		width: 100%;
		height: 100%;
		inset: 0;
		object-fit: cover;
	}
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-inline: auto;
	@media (min-width: $mobile) {
		max-width: toRem(229);
	}
	@media (max-width: $mobile) {
		max-width: toRem(120);
	}
	& picture {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	& img,
	& picture img {
		width: 100%;
		-o-object-fit: cover;
		object-fit: cover;
	}
}

@keyframes float-subtle {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(toRem(-4));
	}
}

@keyframes float-light {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(toRem(-7));
	}
}

@keyframes float-medium {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(toRem(-10));
	}
}

@keyframes float-noticeable {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(toRem(-14));
	}
}
// !!! add 0.5h on animations + 0.7
.header-animation {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	pointer-events: none;

	@media (min-width: $mobile) {
		min-height: toRem(200);
	}
	@media (max-width: $mobile) {
		min-height: toRem(62);
	}
	// !for testing
	// z-index: 10;
	// &::before {
	// 	display: block;
	// 	content: "";
	// 	position: absolute;
	// 	width: toRem(16);
	// 	height: toRem(16);
	// 	bottom: toRem(4);
	// 	right: toRem(82);
	// 	background-color: rgba(red, 0.3);
	// 	z-index: -1;
	// }

	picture,
	img {
		position: absolute;
		object-fit: contain;
		display: block;
		z-index: 2;
		& img {
			position: static;
		}
	}
	& > :nth-child(1) {
		animation: float-light 3.8s ease-in-out infinite;
		@media (min-width: $mobile) {
			top: toRem(22);
			left: 0.8%;
			& img {
				width: toRem(100);
				height: toRem(100);
			}
		}
		@media (max-width: $mobile) {
			top: toRem(-25);
			left: 17%;
			& img {
				width: toRem(68);
				height: toRem(72);
			}
		}
	}
	& > :nth-child(2) {
		@media (min-width: $mobile) {
			bottom: 0;
			width: toRem(132);
			height: toRem(100);
			left: 6.7%;
			animation: float-subtle 4.5s ease-in-out infinite 0.7s;
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}
	& > :nth-child(3) {
		@media (min-width: $mobile) {
			animation: float-noticeable 5.2s ease-in-out infinite 1.3s;
			top: toRem(33);
			left: 14.5%;
			& img {
				width: toRem(162);
				height: toRem(156);
			}
		}
		@media (max-width: $mobile) {
			animation: float-subtle 4.5s ease-in-out infinite 0.7s;
			top: toRem(16);
			left: -14.5%;
			& img {
				width: toRem(102);
				height: toRem(100);
			}
		}
	}
	& > :nth-child(4) {
		animation: float-subtle 3.4s ease-in-out infinite 2.1s;
		@media (min-width: $mobile) {
			left: 33.3%;
			bottom: toRem(24);
			& img {
				width: toRem(68);
				height: toRem(68);
			}
		}
		@media (max-width: $mobile) {
			left: 16.3%;
			bottom: toRem(-28);
			& img {
				width: toRem(58);
				height: toRem(58);
			}
		}
	}
	// center
	& > :nth-child(5) {
		animation: float-medium 4.8s ease-in-out infinite 0.4s;
		@media (min-width: $mobile) {
			bottom: toRem(24);
			left: 45.7%;
			& img {
				width: toRem(126);
				height: toRem(98);
			}
		}
		@media (max-width: $mobile) {
			left: 35%;
			bottom: toRem(-28);
			& img {
				width: toRem(77);
				height: toRem(67);
			}
		}
	}

	// right
	& > :nth-child(6) {
		@media (min-width: $mobile) {
			bottom: toRem(6);
			right: 25.8%;
			width: toRem(89);
			height: toRem(89);
			animation: float-light 3.6s ease-in-out infinite 1.8s;
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}
	& > :nth-child(7) {
		@media (min-width: $mobile) {
			animation: float-noticeable 5.5s ease-in-out infinite 0.9s;
			top: toRem(18);
			right: 18.7%;
			& img {
				width: toRem(83);
				height: toRem(121);
			}
		}
		@media (max-width: $mobile) {
			animation: float-light 3.6s ease-in-out infinite 1.8s;
			right: 0.3%;
			bottom: toRem(-12);
			& img {
				width: toRem(32);
				height: toRem(46);
			}
		}
	}
	& > :nth-child(8) {
		@media (min-width: $mobile) {
			bottom: toRem(-20);
			right: 5.9%;
			width: toRem(99);
			height: toRem(80);
			animation: float-subtle 4.1s ease-in-out infinite 2.5s;
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}
	& > :nth-child(9) {
		animation: float-medium 6s ease-in-out infinite 1.1s;
		@media (min-width: $mobile) {
			top: toRem(-45);
			right: 1.5%;
			& img {
				width: toRem(165);
				height: toRem(171);
			}
		}
		@media (max-width: $mobile) {
			right: 15%;
			bottom: toRem(-12);
			& img {
				width: toRem(93);
				height: toRem(95);
			}
		}
	}
	& > :nth-child(10) {
		animation: float-light 3.9s ease-in-out infinite 3s;
		@media (min-width: $mobile) {
			bottom: toRem(25);
			right: 1.5%;
			& img {
				width: toRem(69);
				height: toRem(69);
			}
		}
		@media (max-width: $mobile) {
			right: 16%;
			bottom: toRem(-23);
			& img {
				width: toRem(61);
				height: toRem(61);
			}
		}
	}
}
